name: ci

on: push

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build
      run: cargo build --verbose
    - name: Clippy
      run: RUSTFLAGS="-Dwarnings" cargo clippy
    - name: Fmt
      run: cargo fmt -- --check
    - name: Run tests
      run: cargo test --verbose
